.maindiv{
    display: inline-block;
    width: 610px;
    text-align: justify;
    padding-right: 25px;
  
}

.sidediv{
    display: inline-block;
    width: 250px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.sec1{
    width: 900px;
    margin :0 auto;
    padding: 0 20px;
    background: #FFF;
}

.navigation ul{
    font-size: 30px;
    padding: 0;
    margin-bottom: 0;
}

.navigation li a{
    color: white;
}
.navigation li{
    color: white;
    display: inline;
    margin-left:  25px;
    padding: 0;
    margin-bottom: 0;
    font: normal .80em 'trebuchet ms', arial, sans-serif;
}
li{
    margin-top: 5px;
}

.navigation{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}