html{
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

.p1{
    font-family: 'Bangers', cursive;
    font-weight: bold;
}

.p2{
    font-family: 'Almarai', sans-serif;
    font-weight: normal;
}